.grocery_item {
    background-color: rgb(245, 230, 210);

}

.item_container {
    margin-left: 20px;
    margin-top: 20px;
    width: 200px;
    position: relative;
    /* left: 40%; */
}

.clip_container {
    margin-left: 20px;
    margin-top: 20px;
    width: 200px;
    position: relative;
    /* left: 40%; */
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .clip_container .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
  }

  .clip_container .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }

  .clip_container:hover .tooltiptext {
    visibility: visible;
  }